@import "tailwindcss";

/* Light Theme */
:root[data-theme="light"] {
  --background-color: #fff;
  --text-color: #000;
  --primary-color: #e50602;
}

/* Dark Theme */
:root[data-theme="dark"] {
  --background-color: #020817;
  --text-color: #fff;
}

/* Apply default values */
body {
  background-color: var(--background-color);
  color: var(--text-color);
}

svg {
  fill: var(--text-color);
}
article ol {
  list-style-type: decimal;
  padding-left: 1.5rem;
}
article ol li {
  margin-bottom: 0.5rem;
}
.prose ol {
  list-style-type: decimal;
  padding-left: 1.5rem;
}
.prose ul {
  list-style-type: disk;
  padding-left: 1.5rem;
}

.prose ol li {
  margin-bottom: 0.5rem;
}

.prose a {
  color: var(--primary-color);
}
