@import "tailwindcss";

/* Light Theme */
:root[data-theme="light"] {
  --background-color: #fff;
  --revarse-background-color: #020817;
  --text-color: #000;
  --revarse-text-color: #fff;
  --primary-color: #e50602;
}

/* Dark Theme */
:root[data-theme="dark"] {
  --background-color: #020817;
  --revarse-background-color: #fff;
  --text-color: #fff;
  --revarse-text-color: #000;
}

/* Apply default values */
body {
  background-color: var(--background-color);
  color: var(--text-color);
}

svg {
  fill: var(--text-color);
}

article ol {
  list-style-type: decimal;
  padding-left: 1.5rem;
}

article ol li {
  margin-bottom: 0.5rem;
}

.prose ol {
  list-style-type: decimal;
  padding-left: 1.5rem;
}

.prose ul {
  list-style-type: disk;
  padding-left: 1.5rem;
}

.prose ol li {
  margin-bottom: 0.5rem;
}

.prose a {
  color: var(--primary-color);
}


.dock {
  width: auto;
  height: 60px;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  position: sticky;
  bottom: 20px;
  left: 50%;
}

.dock .dock-container {
  padding: 5px 10px;
  width: auto;
  height: 100%;
  display: flex;
  /* gap: 10px; */
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  background: var(--background-color);
  backdrop-filter: blur(13px);
  -webkit-backdrop-filter: blur(13px);
  border: 1px solid #cacaca57;
  box-shadow: 0px 0px 10px -5px #88888899;
}

.dock .dock-container .li-bin {
  margin-left: 30px;
  border-left: 1.5px solid rgba(255, 255, 255, 0.4);
  padding: 0px 10px;
}

.dock .dock-container .li-1::after {
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.5);
  content: "";
  bottom: 2px;
}

.dock .dock-container li {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  vertical-align: bottom;
  transition: 0.2s;
  transform-origin: 50% 100%;
  cursor: pointer;
  padding: 0px 10px;
}

.dock .dock-container li:hover {
  margin: 0px 13px 0px 13px;
}

.dock .dock-container li .name {
  position: absolute;
  top: -70px;
  background: var(--revarse-background-color);
  color: var(--revarse-text-color);
  height: 10px;
  padding: 15px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  visibility: hidden;
}

.dock .dock-container li .name::after {
  content: "";
  position: absolute;
  bottom: -8px;
  width: 0;
  height: 0;
  backdrop-filter: blur(13px);
  -webkit-backdrop-filter: blur(13px);
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid var(--revarse-background-color);
}

.dock .dock-container li .ico {
  /* width: 100%; */
  /* height: 100%; */
  /* object-fit: cover; */
  transition: 0.2s;
}

.dock .dock-container li .ico-bin {
  width: 94% !important;
  height: 94% !important;
  object-fit: cover;
  transition: 0.2s;
}

.dock .dock-container li .ico-bin:hover {
  margin-left: 10px;
}

.li-1:hover .name {
  visibility: visible !important;
}

.li-2:hover .name {
  visibility: visible !important;
}

.li-3:hover .name {
  visibility: visible !important;
}

.li-4:hover .name {
  visibility: visible !important;
}

.li-5:hover .name {
  visibility: visible !important;
}

.li-6:hover .name {
  visibility: visible !important;
}

.li-7:hover .name {
  visibility: visible !important;
}

.li-8:hover .name {
  visibility: visible !important;
}

.li-9:hover .name {
  visibility: visible !important;
}

.li-10:hover .name {
  visibility: visible !important;
}

.li-11:hover .name {
  visibility: visible !important;
}

.li-12:hover .name {
  visibility: visible !important;
}

.li-13:hover .name {
  visibility: visible !important;
}

.li-14:hover .name {
  visibility: visible !important;
}

.li-15:hover .name {
  visibility: visible !important;
}