@import "tailwindcss";

/* Light Theme */
:root[data-theme="light"] {
  --background-color: #fff;
  --text-color: #000;
}

/* Dark Theme */
:root[data-theme="dark"] {
  --background-color: #020817;
  --text-color: #fff;
}

/* Apply default values */
body {
  background-color: var(--background-color);
  color: var(--text-color);
}

svg {
  fill: var(--text-color);
}
